<div class="dashboard">
  <h1 class="dashboard-hdr">Thanks, {{user.first}}!</h1>
  <h2>We're still building the platform, but will get in touch when everything is ready to go.</h2>
  <button class="dashboard-signout" {{action "logout"}}>Sign Out</button>
</div>
{{outlet}}

