<div class="index">
  <h1 class="index-hdr">Let's Fight for a Progressive Future.</h1>
  {{#link-to "register"}}<button>Join Us</button>{{/link-to}}
  {{#link-to "login"}}<button>Sign In</button>{{/link-to}}
</div>